<h1>Catalog 페이지입니다.</h1>
{{partial "nav"}}

<!--TODO 별도 파일로 빼내기 -->
<h1>상품리스트</h1>
<section id="content">
    <div id="productList">
        {{#each product in model.productList}}
        <div>
            {{#link-to 'product' product.productId}}
                <img {{bind-attr src=product.imageList.[0].imageUrl }}
                     style="height: 420px;" />
            {{/link-to}}
            {{#link-to 'product' product.productId}}
                {{product.productName}} <br />
                {{product.salePrice}} 원
            {{/link-to}}
        </div>
        {{/each}}
    </div>
</section>